body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Segoe UI, Arial, sans-serif;
    background-color: #95A5A6;
}

canvas,
#video {
    position: absolute;
    top: 0;
    left: 0;
}
#video {
  z-index: 100;
}

.timeline {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    padding-left: 100px;
    color: #141414;
}
.timeline .definicion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background-color: #7F8C8D;
}
.timeline .definicion .item {
    display: block;
}
.timeline .definicion .item .fila {
    padding-left: 10px;
}

.timeline .bloques {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    vertical-align: top;
}
.timeline .item {
    display: inline-block;
    min-width: 10px;
    vertical-align: top;
}
.timeline .item .fila {
    position: relative;
    height: 30px;
    padding: 5px 0;
    line-height: 20px;
    border-bottom: 1px solid #5e696a;
}

.timeline .item .duracion {
  height: 20px;
  background-color: #7F8C8D;
}

.timeline .item .fila .descripcion {
    /*display: none;*/
    height: 20px;
    background-color: red;
}
.timeline .item:hover .fila .descripcion {
    display: block;
}

#controles {
    margin-right: 15px;
}
#controles h4 {
  margin: 0;
  line-height: 32px;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn>.btn,
.input-group-btn>.btn-group>.btn,
.input-group-btn>.dropdown-toggle {
	border-radius: 0;
}
input[type="text"],
input[type="number"] {
  padding-right: 0;
  padding-left: 10px;
}
@media (min-width: 768px) {
  input[type="range"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* -webkit-appearance: slider-vertical; */
  }
}