<div class="input-group">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ label }} <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#" ng-click="label = 'X'">X</a></li>
			<li><a href="#" ng-click="label = 'Y'">Y</a></li>
			<li><a href="#" ng-click="label = 'Z'">Z</a></li>
			<li><a href="#" ng-click="label = 'R'">&Rho;</a></li>
			<li><a href="#" ng-click="label = 'T'">&Theta;</a></li>
			<li><a href="#" ng-click="label = 'P'">&Phi;</a></li>
		</ul>
	</div>
	<input type="number" class="form-control parametro-value">
</div>